@charset "UTF-8";

* {
  box-sizing: border-box;
}
/* div {
  border: 1px solid black;
  } */
.wrap {
  border: none;
}
.container {
  width: 700px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff2f4;
  border: 1px solid black;
}

.container > :nth-child(1) {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin-bottom: 5px;
}
.container > :nth-child(1) > span {
  font-weight: bolder;
  color: #fff2f4;
}
.container > :nth-child(2) {
  flex: 4;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.container > :nth-child(2) .detail {
  flex: 1;
  display: flex;
}
.container > :nth-child(2) .detail .label {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-weight: bold;
}
.container > :nth-child(2) .detail .value {
  flex: 7;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-left: 10px;
}
.container > :nth-child(3) {
  flex: 6;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #fdf8f9f5;
  border: 1px solid black;
}
.container > :nth-child(4) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container > :nth-child(4) #back {
  width: 80px;
  height: 30px;
  margin: 0 10px;
  background-color: black;
  color: #fff2f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container > :nth-child(4) #edit,
#delete,
#complete,
#cancel {
  width: 50px;
  height: 30px;
  margin-left: 5px;
  background-color: black;
  color: #fff2f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ===============[ reply ]=============== */
/* 댓글 입력 */
.reply_container {
  width: 700px;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 20px;
}
.reply_input {
  height: 90px;
  display: flex;
  background-color: #fff2f4;
  border: 1px solid black;
}
.reply_input > div:first-child {
  flex: 6;
  padding: 10px;
}
.reply_input > div:first-child input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.reply_input > div:last-child {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reply_input > div:last-child button {
  width: 50px;
  height: 30px;
  background-color: black;
  color: #fff2f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 댓글 출력 */
.reply_container .reply_list {
  height: 100px;
  margin-top: 20px;
  display: flex;
  background-color: #fff2f4;
  border: 1px solid black;
}
.reply_container .reply_list > div:first-child {
  flex: 4;
  display: flex;
  flex-direction: column;
}
.reply_container .reply_list > div:first-child > div {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.reply_container .reply_list > div:first-child > :nth-child(1) {
  flex: 1;
  font-weight: bold;
  margin-bottom: 5px;
}
.reply_container .reply_list > div:first-child > :nth-child(2) {
  flex: 2;
  background-color: #fdf8f9f5;
  padding-left: 10px;
}
.reply_container .reply_list > div:first-child > :nth-child(3) {
  flex: 1;
  font-size: smaller;
}

.reply_container .reply_list > div:last-child {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reply_container .reply_list > div:last-child button {
  width: 50px;
  height: 30px;
  background-color: black;
  color: #fff2f4;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}
