<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chat">

	<!-- 채팅 입력 -->
	<insert id="insert">
		insert into chat values(chat_seq.nextval, #{sender}, #{message}, sysdate)
	</insert>
	
	<select id="selectAll" resultType="com.kedu.dto.ChatDTO">
		select * from chat
	</select>

</mapper>











